<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.handu.open.dubbo.monitor.service.DubboDelayService">

	<sql id="entityObj">
		id,
		invoke_date as invokeDate,
		service_id as serviceId,
		method_id as methodId,
		consumer,
		provider,
		type,
		invoke_time as	invokeTime,
		success,
		failure,
		elapsed,
		concurrent,
		max_elapsed as	maxElapsed,
		max_concurrent as maxConcurrent
	</sql>
	<sql id="entityColumn">
		invoke_date,
		service_id,
		method_id,
		consumer,
		provider,
		type,
		invoke_time,
		success,
		failure,
		elapsed,
		concurrent,
		max_elapsed,
		max_concurrent
	</sql>

	<!-- Add -->
	<insert id="addEntity" parameterType="DubboDelay"  keyProperty="id" useGeneratedKeys="true">
		INSERT INTO dubbo_delay (
		<include refid="entityColumn" />
		)
		VALUES(
		#{invokeDate},
		#{serviceId},
		#{methodId},
		#{consumer},
		#{provider},
		#{type},
		#{invokeTime},
		#{success},
		#{failure},
		#{elapsed},
		#{concurrent},
		#{maxElapsed},
		#{maxConcurrent}
		)
	</insert>

	<update id="updateEntity" parameterType="DubboDelay">
		UPDATE dubbo_delay SET
		invoke_date = #{invokeDate},
		service_id = #{serviceId},
		method_id =	#{methodId},
		consumer = #{consumer},
		provider = #{provider},
		type =	#{type},
		invoke_time = #{invokeTime},
		success = #{success},
		failure = #{failure},
		elapsed = #{elapsed},
		concurrent = #{concurrent},
		max_elapsed = #{maxElapsed},
		max_concurrent = #{maxConcurrent}
		WHERE id= #{id}
	</update>

	<delete id="deleteEntity" parameterType="java.lang.Long">
		DELETE FROM dubbo_delay
		WHERE id = #{id}
	</delete>

	<select id="findEntity" parameterType="DubboDelay"	resultType="DubboDelay">
		SELECT
		<include refid="entityObj" />
		FROM dubbo_delay
		<where>
			1=1
			<if test="invokeDate != null">
				AND invoke_date = DATE_FORMAT(#{invokeDate},'%Y-%m-%d')
			</if>
			<if test="invokeDateFrom != null">
				<![CDATA[AND invoke_date >= DATE_FORMAT(#{invokeDateFrom},'%Y-%m-%d')]]>
			</if>
			<if test="invokeDateTo != null">
				<![CDATA[AND invoke_date <= DATE_FORMAT(#{invokeDateTo},'%Y-%m-%d')]]>
			</if>
			<if test="serviceId != null and serviceId!= '' ">
				AND service_id = #{serviceId}
			</if>
			<if test="methodId != null and methodId!= '' ">
				AND method_id = #{methodId}
			</if>
			<if test="consumer != null and consumer!= '' ">
				AND consumer = #{consumer}
			</if>
			<if test="provider != null and provider!= '' ">
				AND provider = #{provider}
			</if>
			<if test="type != null and type!= '' ">
				AND type = #{type}
			</if>
		</where>
	</select>

	<select id="findSlowServices" parameterType="DubboDelay" resultType="ApplicationService">
		SELECT COUNT(a.service_id) AS slowCount, a.service_id as id, b.name
		FROM dubbo_delay a LEFT JOIN application_service b
		ON a.service_id=b.id
		<where>
			1=1
			<if test="invokeDate != null">
				AND a.invoke_date = DATE_FORMAT(#{invokeDate},'%Y-%m-%d')
			</if>
			<if test="invokeDateFrom != null">
				<![CDATA[AND a.invoke_date >= DATE_FORMAT(#{invokeDateFrom},'%Y-%m-%d')]]>
			</if>
			<if test="invokeDateTo != null">
				<![CDATA[AND a.invoke_date <= DATE_FORMAT(#{invokeDateTo},'%Y-%m-%d')]]>
			</if>
			<if test="serviceId != null and serviceId!= '' ">
				AND a.service_id = #{serviceId}
			</if>
			<if test="methodId != null and methodId!= '' ">
				AND a.method_id = #{methodId}
			</if>
			<if test="consumer != null and consumer!= '' ">
				AND a.consumer = #{consumer}
			</if>
			<if test="provider != null and provider!= '' ">
				AND a.provider = #{provider}
			</if>
			<if test="type != null and type!= '' ">
				AND a.type = #{type}
			</if>
		</where>
		GROUP BY a.service_id;
	</select>
	<select id="getMethodsByService" parameterType="DubboDelay"	resultType="ApplicationServiceMethod">
		SELECT
		DISTINCT(a.method_id) as id,b.name,c.id as serviceId,c.name as serviceName
		FROM
		dubbo_delay a
		LEFT JOIN application_service_method b ON a.method_id=b.id
		LEFT JOIN application_service c ON a.service_id=c.id
		<where>
			1=1
			<if test="invokeDate != null">
				AND a.invoke_date = DATE_FORMAT(#{invokeDate},'%Y-%m-%d')
			</if>
			<if test="invokeDateFrom != null">
				<![CDATA[AND a.invoke_date >= DATE_FORMAT(#{invokeDateFrom},'%Y-%m-%d')]]>
			</if>
			<if test="invokeDateTo != null">
				<![CDATA[AND a.invoke_date <= DATE_FORMAT(#{invokeDateTo},'%Y-%m-%d')]]>
			</if>
			<if test="serviceId != null and serviceId!= '' ">
				AND a.service_id = #{serviceId}
			</if>
			<if test="methodId != null and methodId!= '' ">
				AND a.method_id = #{methodId}
			</if>
			<if test="consumer != null and consumer!= '' ">
				AND a.consumer = #{consumer}
			</if>
			<if test="provider != null and provider!= '' ">
				AND a.provider = #{provider}
			</if>
			<if test="type != null and type!= '' ">
				AND a.type = #{type}
			</if>
		</where>
	</select>
	<select id="countDubboDelayInfo" parameterType="DubboDelay"	resultType="DubboDelay">
		SELECT
		SUM(success) as success,
		SUM(failure) as failure,
		SUM(elapsed) as	elapsed,
		MAX(max_elapsed) as maxElapsed,
		MIN(max_concurrent) as	maxConcurrent
		FROM dubbo_delay
		<where>
			1 = 1
			<if test="invokeDate != null">
				AND invoke_date = DATE_FORMAT(#{invokeDate},'%Y-%m-%d')
			</if>
			<if test="invokeDateFrom != null">
				<![CDATA[AND invoke_date >= DATE_FORMAT(#{invokeDateFrom},'%Y-%m-%d')]]>
			</if>
			<if test="invokeDateTo != null">
				<![CDATA[AND invoke_date <= DATE_FORMAT(#{invokeDateTo},'%Y-%m-%d')]]>
			</if>
			<if test="serviceId != null and serviceId!= '' ">
				AND service_id = #{serviceId}
			</if>
			<if test="methodId != null and methodId!= '' ">
				AND method_id = #{methodId}
			</if>
			<if test="consumer != null and consumer!= '' ">
				AND consumer = #{consumer}
			</if>
			<if test="provider != null and provider!= '' ">
				AND provider = #{provider}
			</if>
			<if test="type != null and type!= '' ">
				AND type = #{type}
			</if>
		</where>
	</select>
	<select id="countDubboDelay" parameterType="DubboDelay" resultType="DubboDelay">
        SELECT
        method_id as methodId,
        type,
        SUM(success) as success,
        SUM(elapsed) / SUM(success) as elapsed,
        invoke_time DIV #{timeParticle} * #{timeParticle} as invokeTime
        FROM dubbo_delay

        WHERE 1 = 1

        <if test="invokeDate != null">
			AND invoke_date = DATE_FORMAT(#{invokeDate},'%Y-%m-%d')
		</if>
		<if test="invokeDateFrom != null">
			<![CDATA[AND invoke_date >= DATE_FORMAT(#{invokeDateFrom},'%Y-%m-%d')]]>
		</if>
		<if test="invokeDateTo != null">
			<![CDATA[AND invoke_date <= DATE_FORMAT(#{invokeDateTo},'%Y-%m-%d')]]>
		</if>
		<if test="serviceId != null and serviceId!= '' ">
			AND service_id = #{serviceId}
		</if>
		<if test="methodId != null and methodId!= '' ">
			AND method_id = #{methodId}
		</if>
		<if test="consumer != null and consumer!= '' ">
			AND consumer = #{consumer}
		</if>
		<if test="provider != null and provider!= '' ">
			AND provider = #{provider}
		</if>
		<if test="type != null and type!= '' ">
			AND type = #{type}
		</if>
        GROUP BY invoke_time DIV #{timeParticle}
    </select>
</mapper>